@font-face {
    font-family: "IranYekan";
    src: url("IRANYekan.woff2") format("woff2"),
         url("IRANYekan.woff") format("woff");
    font-display: swap;
}

body {
    margin: 0;
    font-family: "IranYekan", sans-serif;
    background: #fafafa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 480px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-top: 30px;
    margin: 30px auto;
    box-sizing: border;
}

.wedding-video {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 15px;
    
}

.timer-wrapper {
    text-align: center;
    margin: 25px 0;
}

.timer-title {
    font-size: 22px;
    color: #ff6f9c;
    margin-bottom: 20px;
    font-weight: bold;
}

.timer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.time-box {
    background: #fff1f5;
    padding: 12px 5px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-label {
    font-size: 14px;
    color: #555;
    margin-bottom: 6px;
}

.time-number {
    font-size: 26px;
    font-weight: bold;
    color: #000;
}


.location-btn {
    display: block;
    background: #ff7ea5;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    font-size: 18px;
}

.insta-footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'IRANYekan', sans-serif;
}

.insta-footer a {
  text-decoration: none;
  color: #d63384;
  font-size: 16px;
  font-weight: 500;
}

